---
import Layout from "../layouts/Layout.astro";
import PillCard from "../components/PillCard.astro";
import Card from "../components/Card";
import Starfield from "../components/Starfield.astro";

import antoniAvatar from "../assets/antoni-avatar.jpg";
---

<Layout title="Antoni Silvestrovič" description="ma site lmao">
  <Starfield />
  <main class="relative mx-auto w-[280px] md:w-[600px] py-32">
    <PillCard
      title="Hey! I'm Antoni."
      description="I am a Software Engineer based in Vilnius, Lithuania. I focus on TypeScript, React & Next.js.\nI'm also having fun with Go & Rust."
      image={antoniAvatar}
    />

    <h2
      class="w-full h-0 text-center text-md font-bold text-white hidden opacity-0"
    >
      Links
    </h2>

    <div class="py-12 pt-14 w-full flex gap-10 flex-wrap">
      <Card
        client:load
        primary={{
          title: "Resume",
          description:
            "A formal list of things I've done and jobs I worked at.",
          icon: "address-card",
          cta: {
            type: "link",
            label: "view resume",
            href: "https://read.cv/antoni",
          },
        }}
        info={{
          title: "Try ssh!",
          description: "Access my resume, as well as other stuff through ssh.",
          icon: "address-card",
          cta: {
            type: "shell",
            command: "ssh antoni.ai",
          },
        }}
      />
      <Card
        client:load
        primary={{
          title: "Github",
          description: "My open-source projects are located here.",
          icon: "github",
          cta: {
            type: "link",
            label: "visit github",
            href: "https://github.com/bring-shrubbery",
          },
        }}
      />
    </div>

    <h2 class="w-full pt-3 text-center text-md font-bold text-white">
      My Projects
    </h2>

    <div class="py-12 w-full flex gap-10 flex-wrap">
      <Card
        client:load
        primary={{
          title: "Quassum",
          description: "The company where I do   my highest quality work.",
          icon: "quassum",
          cta: {
            type: "link",
            label: "quassum.com",
            href: "https://quassum.com/",
          },
        }}
      />
      <Card
        client:load
        primary={{
          title: "Sticker Hunt",
          description: "Sticker-focused treasure    hunt social network.",
          icon: "sticker-hunt",
          cta: {
            type: "link",
            label: "stickerhunt.org",
            href: "https://stickerhunt.org",
          },
        }}
      />
    </div>
  </main>
</Layout>
