---
import Layout from '../layouts/BaseLayout.astro';
import Card from '../components/Card.astro';
---

<Layout
  title="Welcome to Astro."
  description="Antoni Silvestrovič personal website."
  image="/"
  type="website"
>
  <h1 class="text-4xl md:text-5xl font-bold">Antoni Silvestrovič</h1>
  <p class="text-xl text-gray-600">Senior Reductionist</p>
</Layout>
